<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

	 <title>
	 {% block title %}
	 {% endblock %}
	 </title>

	 <!-- Meta tag Keywords -->
<!-- Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158819915-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158819915-1');
</script>

<!-- End Google Analytics -->

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		  content="theyuvas,The Yuvas,Admit Card 2019-20, Answer Key 2019-20, SSC, Latest Jobs, The Yuva, Up Police,IBPS Exam 2018,govt jobs,SSC,Banking, IBPS Clerk, Theyuva, THERYUVAS,yuva, Yuva Result 2018,Yuva Result India,Sarkari Naukari ,Sarkari Result,Yuva ,Result Uttar Pradesh,Sarkari Naukri, Latest Govt Jobs, Yuva, Rojgar Result " />
	{% block content %}
	{% endblock %}
	<!--// Meta tag Keywords -->

	        <link rel = "icon" href = "../../static/job_openings/images/logo.png" type = "image/x-icon">

	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Bootstrap-Core-CSS -->
	<link href="../../static/job_openings/css/css_slider.css" type="text/css" rel="stylesheet" media="all">
	<!-- css slider -->
	<link rel="stylesheet" href="{% static 'job_openings/css/style.css' %}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="../../static/job_openings/css/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link
		href="//fonts.googleapis.com/css?family=Domine:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext"
		rel="stylesheet">
	<link
		href="//fonts.googleapis.com/css?family=Barlow+Semi+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<!-- //Web-Fonts -->
	{% block head %}
	{% endblock  %}

	<!-- Google adsense -->
	<script data-ad-client="ca-pub-9704497300327604" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Google adsense -->
</head>

<body>
	<!-- header -->
	<!-- navigation -->



	<div class="py-1 col-12 header-boarder">
		<div class="container">
			<div class="nav-content ">
				<!-- logo -->
					<a id="logo" class="logo" href="/">
						<img src="{% static '/job_openings/images/logo.png' %}" alt="" class="img-fluid rounded-circle">
					</a>
				<!-- //logo -->
				<!-- nav -->
				<div class="nav_web-dealingsls">
					<nav>
						<label for="drop" class="toggle ml-auto text-white">Menu</label>
						<input type="checkbox" id="drop">
						<ul class="menu">
							<li><a href="https://theyuvas.com">Home</a><li><a href="https://theyuvas.com/latest-job/">Latest Job</a></li>
							<li><a href="https://theyuvas.com/admit-card/">Admit Card</a></li>


							<li><a href="https://theyuvas.com/result">Results</a></li>

						<li>
								<!-- First Tier Drop Down -->
								<label for="drop-3" class="toggle toogle-2">Exams <span class="fa fa-angle-down" aria-hidden="true"></span>
								</label>
								<a href="#pages">Pages <span class="fa fa-angle-down" aria-hidden="true"></span></a>
								<input type="checkbox" id="drop-3">
								<ul>

									<li><a class="drop-text" href="https://theyuvas.com/latest-job/">Latest Exams</a></li>
									<li><a class="drop-text" href="https://theyuvas.com/blog/">Blog</a></li>



								</ul>
							</li></ul></nav>
				</div>
				<!-- //nav -->
			</div>
		</div>
	</div>
	<!-- //navigation -->
	<!-- //top-bar -->

{% block body %}

{% endblock %}





	<!-- footer -->
	<footer class="py-5">
		<div class="container py-xl-4">
			<div class="row footer-top">
				<div class="col-lg-4 footer-grid_section_1its footer-text">
					<!-- logo -->
					<h2>
						<a class="logo text-wh" href="/">
							<img src="../../static/job_openings/images/logo.png" alt="" class="img-fluid rounded-circle"><span>The</span> Yuva
						</a>
					</h2>
					<!-- //logo -->
					<p class="mt-lg-4 mt-3 mb-lg-5 mb-4">It is our approach to help students in providing required
						exams.
						.Yuva brings 	all
						study and exams related
						concepts and skills that will help you to boost your performance. Get Exams and various types
						of jobs information on The Yuvas . With the
						Mission	to
						help	job aspirants and glorious students to be exam ready.
					Yuva provides  relevant information for exam  need to get selected with the required tips
						and
						tricks.</p>
					<!-- social icons -->
					<ul class="top-right-info">
						<li>
							<p>Follow As:</p>
						</li>
						<li class="facebook-w3">
							<a href="https://www.facebook.com/Theyuvscom-100177954927898/?modal=admin_todo_tour"
							   target ='_blank'>
								<span class="fa fa-facebook-f"></span>
							</a>
						</li>
						<li class="twitter-w3">
							<a href="https://twitter.com/Devraj40845333" target ='_blank'>
								<span class="fa fa-twitter"></span>
							</a>
						</li>
						<li class="google-w3">
							<a href="https://mail.google.com/mail/u/0/?pli=1#inbox" target ='_blank'>
								<span class="fa fa-google-plus"></span>
							</a>
						</li>
						<li class="dribble-w3">
							<a href="https://www.instagram.com/singh.devrj/" target ='_blank'>
								<span class="fa fa-instagram"></span>
							</a>
						</li>
					</ul>
					<!-- //social icons -->
				</div>
				<div class="col-lg-4 footer-grid_section_1its my-lg-0 my-sm-4 my-4">
					<div class="footer-title">
						<h3>Contact Us</h3>
					</div>
					<div class="footer-text mt-4">
						<p>Address : Salt Lake Sector V, Kolkata , India</p>
						<p class="my-2"><span class="fa fa-phone fa-lg fa-color"></span> : +12 534894364</p>
						<p><span class="fa fa-envelope fa-lg fa-color"></span><a href="mailto:rehansingh.4522@gmil.com"> rehansingh.4522@gmail.com</a></p>
					</div>
					<div class="footer-title mt-4 pt-md-2">
						<h3>All exams & Admit Card</h3>
					</div>
					<ul class="list-unstyled payment-links mt-4">
						<li>
							<a href="https://theyuvas.com/latest-job"><img src="../../static/job_openings/images/jee.jpg" alt=""></a>
						</li>
						<li>
							<a href="https://theyuvas.com/latest-job"><img src="../../static/job_openings/images/railway.png" alt=""></a>
						</li>
						<li>
							<a href="https://theyuvas.com/latest-job"><img src="../../static/job_openings/images/air.jpg" alt=""></a>
						</li>
						<li>
							<a href="https://theyuvas.com/latest-job"><img src="../../static/job_openings/images/sbi.jpg" alt=""></a>
						</li>
					</ul>
				</div>
				<div class="col-lg-4 footer-grid_section_1its my-lg-0 my-sm-4 my-4">
					<div class="footer-title">
						<h3>Others</h3>
					</div>
					<div class="footer-text mt-4">
						<p><a href="https://theyuvas.com/contact/"> Contact Us </a></p>
						<p class="my-2"> <a href="https://theyuvas.com/Disclaimer/"> Disclaimer </a></p>
						<p><a href="https://theyuvas.com/Privacy-Policy/">Privacy-Policy </a></p>
					</div>
					<div class="footer-title mt-4 pt-md-2">
						<h3> More Stories </h3>
					</div>
					<ul class="list-unstyled payment-links mt-4">
						<li>
							<a href="//www.dmca.com/Protection/Status.aspx?ID=6346b01b-ea40-44c5-a78a-ae0cb15e254c" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120al.png?ID=6346b01b-ea40-44c5-a78a-ae0cb15e254c"  alt="DMCA.com Protection Status" /></a>
							  <script src=" https://images.dmca.com/Badges/DMCABadgeHelper.min.js "> </script>
						</li>
						<li>
							<a href="https://theyuvas.com/"></a>
						</li>
					</ul>
				</div>
				</div>
			</div>
	</footer>
	<!-- //footer -->
	<!-- copyright -->
	<div class="cpy-right text-center py-3">
		<p>© 2020 The Yuva. All rights reserved |TheYuvas. 
			<a href="https://theyuvas.com/Terms_and_conditions/">Terms And Conditions </a>
		</p>
	</div>
	<!-- //copyright -->
	<!-- move top icon -->
	<a href="#" class="move-top text-center">
		<span class="fa fa-level-up" aria-hidden="true"></span>
	</a>
	<!-- //move top icon -->

</body>
<script src=" https://code.jquery.com/jquery-3.4.1.slim.min.js "
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src=" https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js "
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js "
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>
