{% extends "job_openings/basics.html" %}
{% load static %}
{% block title %}
Contact Us
{% endblock %}

{% block content %}


<meta name="description"
      content="Latest Online Form theyuvas.com सरकारी नौकरी, All Latest Result & Admit Card - 2020, SSC Exam , Bank, Railway,TheYuvas ,Police, UPPSC, UPSSSC  Other Jobs Results, Government Jobs Online Form, Sarkari Naukri , Governmnet exams">
<link rel="canonical" href="https://theyuvas.com/contact">
{% endblock %}
{% block body %}

<section class="ab-info-main py-5" id="contact">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section text-center mb-md-5 mb-4">
				<h3 class="w3ls-title mb-3">Contact <span>Us</span></h3>
				<p class="titile-para-text mx-auto">Get our experts to answer your questions within24 Hrs.
                Visit this page for details on how to submit your article: Write for TheYuvas
                </p>
			</div>
			<div class="row contact-agileinfo pt-lg-4">
				<!-- contact address -->
				<div class="col-md-5 address">
					<h3 class="footer-title mb-4 pb-lg-2">Our Address</h3>
					<div class="row address-info-w3ls">
						<div class="col-3 address-left">
							<img src="{%static '/job_openings/images/c1.png' %}" alt="" class="img-fluid">
						</div>
						<div class="col-9 address-right mt-2">
							<h5 class="address mb-2">Address</h5>
							<p> Salt Lake Sector V ,Kolakata , India</p>
                            <p>Patna , Bihar , India</p>
						</div>
					</div>
					<div class="row address-info-w3ls my-2">
						<div class="col-3 address-left">
							<img src="{%static '/job_openings/images/c2.png' %}" alt="" class="img-fluid">
						</div>
						<div class="col-9 address-right mt-2">
							<h5 class="address mb-2">Email</h5>
							<p>
								<a href="mailto:rehansingh.4522@gmail.com"> rehansingh.4522@gmail.com</a>
							</p>
						</div>
					</div>
					<div class="row address-info-w3ls">
						<div class="col-3 address-left">
							<img src="{%static '/job_openings/images/c3.png' %}" alt="" class="img-fluid">
						</div>
						<div class="col-9 address-right mt-2">
							<h5 class="address mb-2">Phone</h5>
							<p>9122604819</p>
						</div>
					</div>
				</div>
				<!-- //contact address -->
				<!-- contact form -->
				<div class="col-lg-7 contact-right mt-lg-0 mt-5">
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdF_1snMPQdzgGdoDt7ef1tqYfQK_FiKGpgwSQR1CxBRbNrrQ/viewform?embedded=true" width="640" height="809" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				</div>
				<!-- contact form -->
			</div>
		</div>
	</section>

{% endblock %}